.article_all {
  color: aliceblue;
  font-family: 'Architects Daughter', cursive;
  text-align: center;
  font-size: 40px;
  margin-top: 70px;

  }

.article_all img {
  
  width: 130px;
  height: 140px;
}


